<h1>Listing magentos</h1>

<table>
  <thead>
    <tr>
      <th>Refnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magentos.each do |magento| %>
      <tr>
        <td><%= magento.refNumber %></td>
        <td><%= link_to 'Show', magento %></td>
        <td><%= link_to 'Edit', edit_magento_path(magento) %></td>
        <td><%= link_to 'Destroy', magento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magento', new_magento_path %>
