<div id="login">
<div class="well">
<h2>Sign up</h2>
    <p id="heading" >Please complete the form below.</p>
    <p class="required-field-caption">&ast; Required Fields</p>
    <hr noshade>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %><span>&nbsp;&ast;</span></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %><span>&nbsp;&ast;</span></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %><span>&nbsp;&ast;</span></div>

  <div><%= f.submit "Sign up" ,:class => "btn btn-primary" %></div>
<% end %>

    <hr noshade>
<%= render "devise/shared/links" %>
</div>
  </div>