<div class="modal-header">
  <button type="button" class="close" onclick="clearmodal();" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">My Favourites</h4>
</div>
<div class="modal-body">
    <% @globals.each do |global| %>
 <% if @favcheck == global.name%>
 <% else%>
    <hr>
          <%= link_to 'Delete',
                      { :controller => 'globals', :action => 'delete', :id => global.id }, # your URL details
                      { :confirm => 'Are you sure?', :method => :delete, :remote => false} %>

          <td><%= link_to 'Destroy', global, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <h3 style="background-color:#F2f2f2;padding:10px 5px"><%= global.name %>&nbsp;&nbsp;<%= link_to 'Delete', global, method: :delete, data: { confirm: 'Are you sure?' },:class =>"btn btn-danger btn-xs" %>&nbsp;&nbsp;<%= link_to 'Add', data_addfav_path(global,:favname => global.name, :projectid => @project.id),:class =>"btn btn-primary btn-xs" %>
    
    
	<% @sectioncheck = "" %>
	<% @favcheck = global.name %>
	</h3>
	<% end %>


        
    
    <% end %>
<div class="actions">
    <button type="button" onclick="clearmodal();" class="btn btn-default" data-dismiss="modal">Close</button>


</div>
</div>
</div>


<br>


