<h1>Listing soaps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soaps.each do |soap| %>
      <tr>
        <td><%= soap.name %></td>
        <td><%= link_to 'Show', soap %></td>
        <td><%= link_to 'Edit', edit_soap_path(soap) %></td>
        <td><%= link_to 'Destroy', soap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soap', new_soap_path %>
