<h1>Listing sappushes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sappushes.each do |sappush| %>
      <tr>
        <td><%= sappush.name %></td>
        <td><%= link_to 'Show', sappush %></td>
        <td><%= link_to 'Edit', edit_sappush_path(sappush) %></td>
        <td><%= link_to 'Destroy', sappush, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sappush', new_sappush_path %>
