<div class="modal-header">
  <button type="button" class="close" onclick="destroyModal();" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Add Subsection to Quote.</h4>
</div>
<div class="modal-body">
<%= form_for(@subsection) do |f| %>
  <% if @subsection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsection.errors.count, "error") %> prohibited this subsection from being saved:</h2>

      <ul>
      <% @subsection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :section_id %><br>
      <%= f.collection_select(:section_id, Section.where(project_id: @project.id), :id, :name) %>
    </div>
  <div class="field">
    <%= f.label 'Subsection Name' %><br>
    <%= f.text_field :name, required:true %><p>E.g. Bathroom</p>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
        <div class="actions">
            <button type="button" onclick="destroyModal();" class="btn btn-default" data-dismiss="modal">Close</button>

            <%= f.submit  "Add Subsection" , :class => "btn btn-primary"%>
          </div>
        </div>
<% end %>
